# Copy this file to .env.dev and fill in the values.

# Django
SECRET_KEY=change-me
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# PostgreSQL
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_NAME=face_search_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
